<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg aria-label="Menu" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
            <a 
                routerLink="/gender/men" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Hombre
            </a>
        </li>
        <li>
            <a 
                routerLink="/gender/women" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Mujer
            </a>
        </li>
        <li>
            <a 
                routerLink="/gender/kid" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Niños
            </a>
        </li>
      </ul>
    </div>
    <a 
        class="btn btn-ghost text-xl font-montserrat"
        routerLink="/"
        >Teslo 
        <span class="text-info">| Shop</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
            <a 
                routerLink="/gender/men" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Hombre
            </a>
        </li>
        <li>
            <a 
                routerLink="/gender/women" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Mujer
            </a>
        </li>
        <li>
            <a 
                routerLink="/gender/kid" 
                routerLinkActive="text-info" 
                class="btn btn-ghost"
                >Niños
            </a>
        </li>
    </ul>
  </div>
  <div class="navbar-end">
    @if(authService.isAdmin()){
      <a routerLink="/admin" class="btn text-warning">Panel administrador</a>
    }

    @if (authService.authStatus() === 'authenticated') {
      <div class="flex items-center gap-3">
        <span class="text-sm font-medium">
          {{ authService.user()?.fullName }}
        </span>

        <button class="btn btn-outline btn-sm" (click)="authService.logout()">
          Logout
        </button>
      </div>
    } @else {
      <div class="flex gap-2">
        <a routerLink="/auth/login" class="btn btn-secondary btn-sm">
          Login
        </a>
        <a routerLink="/auth/register" class="btn btn-primary btn-sm">
          Register
        </a>
      </div>
    }
  </div>
</div>